@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    /*pallete */
  --green: #57971e;
  --hover-green: #3b720b;
  --pink: #ff3ca5;
  --blue: #0bbaf7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-fredoka);
  --font-body: var(--font-nunito);
  --font-logo: var(--font-dynapuff);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.btn-green{
  background-color: var(--green);
}

.btn-pink {
  background-color: var(--pink);
}
html {
  scroll-behavior: smooth;
}

@keyframes michiPop {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-10deg);
  }
  80% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

html {
  scroll-behavior: smooth;
}